.header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #000285;
    color: #dbd58e;
    font-size: 24px;
    box-sizing: border-box;
    height: 94px;
}

@media (orientation: portrait) {
    .header {
        box-sizing: border-box;
        height: 57px;
    }
    .title {
      font-size: 20px !important;
    }
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.player_info,
.question_price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}