.question {
    font-size: 48px;
    text-align: center;
    padding: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.button,
.close_button,
.right_button,
.wrong_button {
    margin-top: 10px;
    font-size: 24px;
    border: 2px solid;
    padding: 10px 20px;
    cursor: pointer;
}

.button {
    position: absolute;
    bottom: 0;
    min-width: 150px;
}

.button[data-disabled="true"] {
    background-color: gray;
}

.close_button {
    background-color: yellow;
}

.right_button {
    background-color: green;
    margin-right: 30px;
}

.wrong_button {
    background-color: red;
}

.player_answer {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: yellow;
    margin-top: 10px;
}

.answer {
    margin-top: 10px;
    font-size: bold;
    color: #00ff00;
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.video {
    align-self: center;
    height: calc(100% - 250px);
}

.admin_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (orientation: portrait)
{
    .image {
        width: 100%;
    }
    .question {
        font-size: 24px;
        min-height: unset;
    }
}